


<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong> 
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago
                                    </small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                  Panel Footer
                </div>
              </div>



{{!--             <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                Away</a></li>
                            <li class="divider"></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-circle">
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-circle">
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
</div>
{{!-- 
    <div class="container">
      <h4>Forms</h4>
      <div class="row">
        <div class="col-md-12">
          <h4>Controls</h4>




<p>
{{#sl-alert dismissable=true theme="info"}}
    Dismissable info alert
{{/sl-alert}}
</p>
<p>
{{#sl-alert theme="success"}}
    Success alert
{{/sl-alert}}
</p>
<p>
{{#sl-alert theme="warning"}}
    Warning alert
{{/sl-alert}}
</p>
<p>
{{#sl-alert theme="danger"}}
    Danger alert
{{/sl-alert}}
</p>
<p>
{{#sl-button theme="default"}}Default Button{{/sl-button}}
</p>
<p>
{{#sl-button theme="primary"}}Primary Button{{/sl-button}}
</p>
<p>
{{#sl-button theme="info"}}Info Button{{/sl-button}}
</p>
<p>
{{#sl-button theme="success"}}Success Button{{/sl-button}}
</p>
<p>
{{#sl-button theme="warning"}}Warning Button{{/sl-button}}
</p>
<p>
{{#sl-button theme="danger"}}Danger Button{{/sl-button}}
</p>
<p>
{{#sl-button disabled=true}}Disabled Button{{/sl-button}}
</p>
<p>
{{#sl-button theme="hover"}}Hover Button{{/sl-button}}
</p>
<p>
{{#sl-button theme="link"}}Link Button{{/sl-button}}
</p>
<p>
{{sl-date-picker label="Date picker"}}
</p>
<p>
{{sl-checkbox
    label="Checkbox"
    name="checkbox"
    value=checkboxValue
}}
</p>
<p>
{{sl-date-range-picker
    label="Select date range"
    startDatePlaceholder="Select start date"
    endDatePlaceholder="Select end date"
}}
</p>
<p>
{{#sl-drop-button label="Select a color"}}
    {{sl-drop-option action="alertRed" label="Red"}}
    {{sl-drop-option action="alertGreen" label="Green"}}
    {{sl-drop-option action="alertBlue" label="Blue"}}
    {{sl-drop-option}}
    {{sl-drop-option action="alertWhite" label="White"}}
{{/sl-drop-button}}
</p>
<p>
{{sl-input
    label="Input with label and helpText"
    helpText="Help text content goes here"
    placeholder="Enter some text"
}}
</p>
<p>
{{sl-input
    label="Input with typeahead suggestions"
    placeholder="Enter a color"
    suggestions=colors
    value=colorValue
}}
</p>
<p>
{{sl-input
    label="Disabled input"
    disabled=true
    placeholder="You can't enter anything here"
}}
</p>
<p>
{{sl-input
    label="Readonly input"
    readonly=true
    value="Look but don't touch!"
}}
</p>
<p>
{{sl-input
    label="Required input"
    required=true
    placeholder="You'd better enter something here"
}}
</p>
<p>
{{sl-input
    label="Optional input"
    optional=true
    placeholder="Meh, whatev"
}}
</p>
<p>
{{sl-input
    clickToEdit=true
    label="Click-to-edit input"
    placeholder="Enter value"
    value="Initial value"
}}
</p>
<p>
{{#sl-panel heading="Test Panel"}}
    <p>Hello world!</p>
{{/sl-panel}}
</p>
<p>
{{sl-progress-bar label=true value=60}}
</p>
<p>
{{sl-progress-bar label=true theme="success" value=40}}
</p>
<p>
{{sl-progress-bar striped=true theme="warning" value=70}}
</p>
<p>
{{sl-progress-bar
    animated=true
    label=true
    striped=true
    theme="danger"
    value=90
}}
</p>
<p>
{{#sl-tooltip
    tagName="u"
    title="Tooltip text!"
}}
    Tooltip example
{{/sl-tooltip}}
</p>
<p>
{{#sl-tooltip
    popover="Popover content!"
    tagName="u"
    title="Popover title"
}}
    Popover example
{{/sl-tooltip}}
</p>
<p>
{{sl-textarea
    label="First textarea"
    placeholder="Enter some text!"
    rows=6
}}
</p>
<p>
{{sl-textarea
    disabled=true
    label="Second textarea"
    placeholder="You can't enter anything..."
    rows=4
}}
</p>
{{#sl-tab-panel}}
    {{#sl-tab-pane label="One" name="one"}}
        <p>Content for tab 1!</p>
    {{/sl-tab-pane}}
    {{#sl-tab-pane label="Two" name="two"}}
        <p>Content for tab 2!</p>
    {{/sl-tab-pane}}
    {{#sl-tab-pane label="Three" name="three"}}
        <p>Content for tab three!</p>
    {{/sl-tab-pane}}
{{/sl-tab-panel}}

<p>
{{#sl-radio-group
    label="Color selection"
    name="colorRadio"
    value="blue"
}}
    {{sl-radio label="Red" value="red"}}
    {{sl-radio label="Green" value="green"}}
    {{sl-radio label="Blue" value="blue"}}
    {{sl-radio label="Splorge" disabled=true}}
{{/sl-radio-group}}
</p>
<p>
{{sl-select
    content=model
    disableSearch=true
    label="Multiple number select, no search"
    multiple=true
    placeholder="Select number(s)"
}}
</p>
<p>
{{sl-pagination-controls currentPage=3 totalPages=5}}
</p>
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->      
    </div> --}}
<br/><br/><br/><br/><br/><br/><br/><br/><br/>